.profile__name-wrap {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
}

@media screen and (max-width: 680px) {
  .profile__name-wrap {
    position: relative;
    left: 14px;
  }
}
