.header__mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  margin-right: 24px;
  text-decoration: none;
}
