.image-popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: poppingUp;
  animation-duration: 0.5s;
}

@keyframes poppingUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
