.profile__about {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 16px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 680px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    position: relative;
    margin: 8px 0 0px;
    max-width: 220px;
  }
}
