.popup__name {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: auto;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: auto;
  display: flex;
  outline: none;
  box-sizing: border-box;
}

@media screen and (max-width: 680px) {
  .popup__name {
    width: 238px;
  }
}
